      body {
        transition: background-color 0.5s;
        margin: 0;
        padding: 0;
      }

      .sun {
        position: fixed;
        top: 10px;
        right: 10px;
        height: 35px;
        width: 45px;
        border-radius: 50%;
        background-color: #989691;
        border: 3px solid #f7dc6f;
        overflow: hidden;
        cursor: pointer;
        transition: background-color 0.5s, border-color 0.5s;
        /* animation: rotate 10s infinite; */
        z-index: 1;
      }

      .shadow {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #fff;
        animation: moveShadow 10s infinite;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes moveShadow {
        0% {
          transform: translateX(40px);
          background-color: #fff;
        }
        50% {
          transform: translateX(-5px);
          background-color: #333;
        }
        100% {
          transform: translateX(-40px);
          background-color: #fff;
        }
      }

      .night {
        background-color: #333;
      }

      .night.sun {
        background-color: #666;
        border-color: #666;
      }

      .night.shadow {
        background-color: #333;
      }
